body {
    margin-bottom: 30px;
    padding-left:15px;
    background-color:#333333;
    padding-right:15px;
    font-family: roboto,sans-serif;
    text-align: center;
    }
.table {
    overflow: auto;
    display: block;
    padding-top:68px;
    width: 750px;
    margin-left:auto;
    margin-right:auto;
}
table {
    border-collapse:collapse;
    background-color: #222222;
    width: 100%;
}
td, th {
    border: 2px solid #000000;
    padding:12px;  
}
thead {
    background-color: #222222;
}
tr:nth-child(odd) td {
  background: #111111;
}
